h1 {
    color: #2c3e50;
    font-size: 2rem;
}

.intro {
    color: #27AE60;
    font-size: italic;
}

#khusus {
    background-color: #FEF9E7;
    font-size: 10px;
    font-weight: 4px solid #F39C12;
}

nav { background: #2c3e50; padding: 10px;}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover { color: #f39c12;}

.aktif {font-weight: bold;
border-bottom: 2px solid #f39c12;}

.kartu > h2 {color: #2471a3}

.input [type='text']:focus {
    border-color: #2471a3;
    outline: none;
}
p { color: black; }

.teks-biru { color: blue; }

#teks-merah { color: red; }
.a { color: orange; }
.b { color: purple; }